<app-adminheader></app-adminheader>
<link href ="../../../assets/css/usermanage.css" rel="stylesheet">
<script type="text/javascript" src="../../../assets/js/usermanage.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body> 
 
        
<div class = "container" style=" padding-top: 100px">
  <div class = "row">

    <div class = "col-md-12">

      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>User<b> Management Panel</b></h2>
              
            </div>
                      
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
            </th>
            <th>Name of User</th>


            <th>Email</th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let item of users"  >
            <td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
            </td>
            <td> <a href="#">{{item.name}}</a></td>


            <td>{{item.email}}</td>
            
            <td>
              
              <label class="switch">
                <input type="checkbox" (click)="isAdmin($event, item)">
                <span class="slider round"></span>
              </label>
              </td>
          </tr>
         
   
     
          </tbody>
        </table>
        
      </div>

      
    </div>

    <!-- Add here -->
    
    

  </div>
  
</div>
<app-footer></app-footer>
</body>
</html>
