<app-adminheader></app-adminheader>
<link href ="../../../assets/css/usermanage.css" rel="stylesheet">
<script type="text/javascript" src="../../../assets/js/usermanage.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
  <div class = "container" style=" padding-top: 100px">
    <div class = "row">
  
      <div class = "col-md-12">
  
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                <h2>Project<b> Management Panel</b></h2>
                
              </div>
  
              <div class="col-sm-6">
                  <a href="#addEmployeeModal" class="btn btn-primary" data-toggle="modal"> <span>Add new Project</span></a>
                  <!-- <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add new Ingredient</span></a> -->
  
              </div>
               
              
  
            
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>
                <span class="custom-checkbox">
                  <input type="checkbox" id="selectAll">
                  <label for="selectAll"></label>
                </span>
              </th>
              <th>Name of Project</th>
  
  
              <!-- <th>Calories</th> -->
              <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr  *ngFor="let item of projects"   >
              <td>
                <span class="custom-checkbox">
                  <input type="checkbox" id="checkbox1" name="options[]" value="1">
                  <label for="checkbox1"></label>
                </span>
              </td>
              <td> <a href="#">{{item.name}}</a></td> 
  
  
              
              <td>
                <a href="#editEmployeeModal" (click)="editItem($event, item)" class="edit" data-toggle="modal"><i class="fa fa-pencil" data-toggle="tooltip" title="Edit"></i></a>
                <i  (click)="deleteItem($event, item)" class="fa fa-trash" data-toggle="tooltip" title="Delete"></i>
              </td>

              <!-- Edit Modal HTML -->
              <div id="editEmployeeModal" class="modal fade">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <form (ngSubmit)="updateItem(itemToEdit)" >
                      <div class="modal-header">
              
                        <h4 class="modal-title">Update Project</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      </div>
                      <div class="modal-body">         
              
              <br>
                        <br>
                        <div class="form-group">
                          <label>Name of Project</label>
                          <input type="text" class="form-control" [(ngModel)]="itemToEdit.name" name="name">
                          <!-- this is "two way binding" ab jo value input field mein aygi wo seedha yahan se add-item.component.ts ki properties(item+description) mein jaigi -->
                        </div>
            
                        <div class="form-group">
                          <label>Description</label>
                          <input type="text" class="form-control" [(ngModel)]="itemToEdit.description" name="description">
                        </div>
                        <input type="file" (change)="startUpload($event.target.files)" multiple >
                        <div>{{ uploadPercent | async }}</div>
            
                      <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" value="Update" class="btn btn-success" >
                      </div>
              </div>
                    </form>
                  </div>
                </div>
              </div>
            </tr>
           
     
       
            </tbody>
          </table>
          
        </div>
  
        
  <!-- ADD ingredient Modal HTML -->
  <div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form (ngSubmit)="onSubmit()" >
          <div class="modal-header">
  
            <h4 class="modal-title">Add New Project</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">         
  
  <br>
            <br>
            <div class="form-group">
              <label>Name of Project</label>
              <input type="text" class="form-control" [(ngModel)]="project.name" name="name">
              <!-- this is "two way binding" ab jo value input field mein aygi wo seedha yahan se add-item.component.ts ki properties(item+description) mein jaigi -->
            </div>

            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" [(ngModel)]="project.description" name="name">
            </div>
            <input type="file" (change)="startUpload($event.target.files)" multiple >
            <div>{{ uploadPercent | async }}</div>

          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <input type="submit" value="Submit" class="btn btn-success" >
          </div>
  </div>
        </form>
      </div>
    </div>
  </div>
  
        <!-- Delete Modal HTML -->
        <div id="deleteEmployeeModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <form>
                <div class="modal-header">
                  <h4 class="modal-title">Delete Employee</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete these Records?</p>
                  <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                  <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                  <input type="submit" class="btn btn-danger" value="Delete">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
<app-footer></app-footer>